*{margin: 0; padding: 0; box-sizing: border-box;}
body {
	background: #f9fafb;
	font-family: helvetica;
	text-align: center;
}

h1 {
	color: #84E056
}

#hero {
	background-image: url(../images/hero.jpg);
	height: 56.25vw;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #f9fafb;
}

#slogan {
	font-size: 40px;
	font-weight: bold;
}

img {
	width: 2000px;
}